{% extends "base.html" %}
{% block title %}Answer{% endblock %}
{% block content %}
<h1>Answer</h1>
<div class="panel panel-info question-block">
	<div class="panel-body">
		<div class="row question-content">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
				<a href="{{ url 'user' user.user_id }}">
					<img src="/uploads/img/{{ user.avatar.name }}" class="img-circle center-block" width="100%" alt="{{ user.name }}">
					<div class="clearfix"></div><br>
					<h3 class="text-center">User</h3>
				</a>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
				<blockquote>
					<p class="size">Text</p>
				</blockquote>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2" style="z-index: 1000">
				<div class="form-group-lg has-success text-center">
					<div class="input-group">
						<span class="input-group-addon success">
							<a href="#"><span class="glyphicon glyphicon-thumbs-up"></span></a>
						</span>
						<p class="form-control" style="color: #3c763d">+2</p>
						<span class="input-group-addon error">
							<a href="#"><span class="glyphicon glyphicon-thumbs-down"></span></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}