{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>{{ title }}</h1>
{{form.errors}}
<form data-toggle="validator" role="form" enctype="multipart/form-data" method="POST" action="{% url 'ask' %}">
	{% csrf_token %}
	<div class="form-group has-feedback">
		<label for="inputTitle" class="control-label">{% trans 'Title' %}</label>
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
			<input name="title" type="text" maxlength="30" value="{{ form.title.value|default_if_none:'' }}" class="form-control" id="inputTitle" placeholder="{% trans 'Enter title of your question here' %}"
				data-error="{% trans 'Enter title of your question' %}" required>
		</div> 
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<span class="help-block with-errors">{% trans 'Enter title of question' %}</span>
	</div>
	<div class="form-group has-feedback">
		<label for="inputText" class="control-label">{% trans 'Text' %}</label>
		<div class="input-group form-input-group-textarea-fix">
			<textarea name="text" class="form-control" id="inputText" data-error="{% trans 'Enter text of your question' %}" required>{{ form.text.value|default_if_none:'' }}</textarea>
		</div> 
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		<span class="help-block with-errors">{% trans 'Enter text of your question' %}</span>
	</div>
	<div class="form-group has-feedback">
		<label for="inputTags" class="control-label">{% trans 'Tags' %}</label>
		<div class="input-group">
			<span class="input-group-addon">#</span>
			<input name="tags" type="text" pattern="^([_A-Za-z0-9]+)(, [_A-Za-z0-9]+){0,2}$" maxlength="30" class="form-control" id="inputTags" placeholder="{% trans 'tag1, tag2' %}"
				value="{{ form.tags.value|default_if_none:'' }}" data-error="{% trans 'Enter comma-separated correct no more then 3 tags' %}">
		</div> 
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>
	<div class="form-group">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="terms" data-error="{% trans 'prove that your not a robot' %}" required>
				{% trans 'before you enter' %}
			</label>
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">{% trans 'Ask!' %}</button>
	</div>
</form>
{% endblock content %}
