{% extends 'base.html' %}
{% load i18n %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<h2>{{ title }}</h2>
			</div>
			{% if alternative_url and alternative_title %}
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
					<h1><small class="small"><a href="{% url alternative_url %}">
						{{ alternative_title }}
					</a></small></h1>
				</div>
			{% endif %}
		</div>
	</div>
	{% trans 'There are no questions yet...' as no_answers %}
	{% for q in objects %}
		{% include 'one_question.html' with note=q %}
	{% empty %}
		<p>{{ no_answers }}</p>
	{% endfor %}
	{% include 'paginator.html' %}
{% endblock content %}
