{% load i18n %}
{% load staticfiles %}
{% load humanize %}
<div class="panel panel-info question-block" id="{{ note.id }}">
	{% block title %}
	{% endblock title %}
	<div class="panel-body">
		<div class="row question-content">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<a href="{% url 'user' note.author.username %}">
							{% if note.author.avatar %}
								<img src="{{ note.author.avatar.url }}" class="img-circle center-block" width="100%"
												alt="{{ note.author.username }}">
							{% else %}
								<img src="{% static 'img/anonymous.jpg' %}" class="img-circle" width="100%"
												alt="{{ note.author.get_full_name }}">
							{% endif %}
							<div class="clearfix"></div><br>
							<h3 class="text-center">{{ note.author.get_full_name }}</h3>
						</a>
					</div>
					{% if note.author == user %}
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							{% block is_best %}
							{% endblock is_best %}
						</div>
					{% endif %}
				</div>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-10">
				<blockquote>
					{% if hide_text %}
						<p class="size">{{ note.text }}</p>
					{% else %}
						<p style="word-wrap: break-word">{{ note.text }}</p>
					{% endif %}
				</blockquote>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-3">
				<div class="form-group-lg
				  		{% if note.raiting > 0 %} has-success
				  		{% elif note.raiting < 0 %} has-error
				  		{% endif %} text-center">
					<div class="input-group">
						<span class="input-group-addon success like_js">
							<span class="glyphicon glyphicon-thumbs-up" id="like{{ note.id }}"></span>
						</span>
						<p class="form-control" style="color: 
							{% if note.raiting > 0 %} #3c763d
							{% elif note.raiting < 0 %} #a94442
						{% endif %}">
							{{ note.raiting|intcomma }}
						</p>
						<span class="input-group-addon error dislike_js">
							<span class="glyphicon glyphicon-thumbs-down" id="dislike{{ note.id }}"></span>
						</span>
					</div>
				</div>
			</div>
			{% block meta %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ note.create_date|naturaltime }}</div>
			{% endblock meta %}
		</div>
	</div>
</div>
