{% load i18n %}
{% load humanize %}
<div class="text-center">
	<nav aria-label="Page navigation">
	  <ul class="pagination">
		{% if objects.has_previous %}
			<li>
			  <a href="?page={{ objects.previous_page_number }}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
		{% endif %}
		{% if pref_page_index > 0 %}
			<li>
			  <a href="?page={{ pref_page_index }}" aria-label="Previous">
				<span aria-hidden="true">...</span>
			  </a>
			</li>
		{% endif %}
		{% for i in page_range %}
				<li><a href="?page={{ i }}"
					{% if i == cur_page %}
						class="disabled"
					{% endif %}>{{ i|intcomma }}</a></li>
		{% endfor %}
		{% if next_page_index < page_range|length %}
			<li>
			  <a href="?page={{ next_page_index }}" aria-label="Previous">
				<span aria-hidden="true">...</span>
			  </a>
			</li>
		{% endif %}
		{% if objects.has_next %}
			<li>
			  <a href="?page={{ objects.next_page_number }}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
		{% endif %}
	  </ul>
	</nav>
</div>
